body {
    margin :0;
    padding :0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.43;
    color: #484848;
}

p {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

a:link {
    font-size: 16px;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, ul, ol, li {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style-type: none;
}

::selection {
    color: #fff;
    background-color: #333;
}

::-moz-selection {
    color: #fff;
    background-color: #333;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* TOP-NAV CSS */

.top-nav {
    position: fixed;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
}

.logo:link {
    color: #484848;
    padding: 30px;
}

.logo:visited {
    color: #484848;
}

.logo img {
    padding: 15px;
    width: 100px;
}